<div id="<%= dom_id word %>" class="word-row">
  <div class="word-column">
    <strong>English:</strong>
    <span><%= word.english %></span>
  </div>

  <div class="word-column">
    <strong>Japanese:</strong>
    <span><%= word.japanese %></span>
  </div>
</div>
